<div class="panel panel-default">
  <div class="panel-heading">
    Clubs and Leagues
  </div>
  <div class="panel-body">
    <h2>Overview</h2>

    <p>We want to provide a one-stop-shop for all types of clubs, leagues and associations to manage their organisations</p>


    <h2>Why Sporticus</h2>

    A single application to organise your organisation. Allows single point for registration (user and team), schedule management and tracking attendance and payments.

    <h2>Features</h2>

    <ul>
    <li>Use Sporticus from the web or from your phone to organize your club or league.</li>
    <li>Communicate with every team, coach and player. </li>
    <li>Easily handle registration and sign-ups. </li>
    <li>Build your website and schedule the full season.</li>
    <li>Use sport specific tools to schedule and track matches (e.g. league events, rotas and ladders matches)</li>
    </ul>

    <h2>All Sports</h2>

    <ul>
    <li>Whatever sport or activity you organize, Sporticus has it covered.</li>
    <li>We serve dozens of different athletic organizations for sports</li>
    <li>But that’s not all—you can use Sporticus for any group activity, such as your scout troop, sales team or parent-teacher organization.</li>
    <li>If your group needs organizing we can help.</li>
    </ul>

    <br/>

    <br/>

    <br/>

    <br/>

  </div>
</div>
