<div class="marquee-modal-window">
  <div class="side-panel">
    <div class="marquee-logo">
      <i class="hpe-icon hpe-notification hpe-5x text-secondary" aria-hidden="true"></i>
      <!-- <div class="person-icon" ></div> -->
    </div>

    <div class="marquee-info-panel">
      <h3 class="title">Add Notification</h3>
      <p class="description">{{creationDescription}}</p>
    </div>
  </div>

  <div class="main-panel">

    <div class="marquee-header">
    </div>

    <div class="marquee-body case-modal">
      <div class="row">
        <div class="col-sm-9">
          <form #userForm="ngForm" (ngSubmit)="addNotification()">
            <div class="form-group">
              <label class="form-label case-label">Text</label>
              <input
                type="text" placeholder="Enter text" class="form-control" name="text"
                [(ngModel)]="details.text"/>
            </div>
            <div class="marquee-footer">
              <button type="button" style="width: 80px" class="btn button-primary m-r-xs" type="submit">{{submitText}}
              </button>
              <button type="button" style="width: 80px;" class="btn button-secondary" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
