<main class='md-padding' layout="row" flex>
  <ux-ebox>
    <ux-ebox-header>
      <h3>About Sporticus</h3>
    </ux-ebox-header>

    <ux-ebox-content>
      <h1>What is Sporticus <small>A social sports portal</small></h1>
      <p>
        Sporticus is an open source showcase for Angular and Spring technologies.
      </p>
      <p>
        It was developed and is being maintained by a group of experienced developers with a desire to showcase their own skills.
      </p>

      <h1>The Team <small>Developers working on the project</small></h1>

      <ul>
        <li>
          <p>Bob Tarling</p>
        </li>
        <li>
          <p>James Nurse</p>
        </li>
        <li>
          <p>Mark Howell</p>
        </li>
        <li>
          <p>Thomas Hardwick</p>
        </li>
      </ul>
    </ux-ebox-content>
  </ux-ebox>

  <div class="panel panel-default">
    <div class="panel-heading">
      About Sporticus
    </div>
    <div class="panel-body">

      <h1>The Technology <small>AWS, Angular and Spring</small></h1>

      <p>
        The Sporticus solution runs in AWS on the Spring Framework with a pure Angular UI.
      </p>

      <div>
        <table  class="table table-hover">
        <tbody>
          <tr>
            <td>
              AWS
            </td>
            <td>
              Amazon Web Services (AWS) provides on-demand cloud computing platforms on a paid subscription basis.
              The technology allows subscribers to have at their disposal a full-fledged virtual cluster of computers, available all the time, through the internet.
              They can choose to deploy their AWS systems to provide internet-based services for their own and their customers' benefit.
            </td>
          </tr>
          <tr>
            <td>
              Spring Framework
            </td>
            <td>
              The Spring Framework is an application framework and inversion of control container for the Java platform. The framework's core features can be used by any Java application, but there are extensions for building web applications on top of the Java EE (Enterprise Edition) platform. Although the framework does not impose any specific programming model, it has become popular in the Java community as an addition to, or even replacement for the Enterprise JavaBeans (EJB) model. The Spring Framework is open source.
            </td>
          </tr>
          <tr>
            <td>
              Angular
            </td>
            <td>
              Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations to address all of the parts of the developer's workflow while building complex web applications. Angular is a complete rewrite from the same team that built AngularJS.
            </td>
          </tr>
        </tbody>
        </table>
      </div>

    </div>
  </div>
</main>

<!-- <scroll-top direction="down" distance="75"></scroll-top> -->
