#Footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 0;
  border-top: 1px solid #0a3761;
  background: #0c4751;
}

#Footer .logo {
  background-size: 200px auto;
  height: 60px;
  max-width: 200px;
  color: transparent;
  font-size: 0;
  text-indent: -999px;
  overflow: hidden;
}

#Footer ul {
  padding-bottom: 0;
  padding-left: 0;
}

#Footer li {
  font-size: .702em;
  list-style-type: none;
  padding-bottom: 0;
}

#Footer li a {
  color: #f0f7ff;
}

#Footer li a:active,#Footer li a:focus,#Footer li a:hover {
  color: #fff;
  text-decoration: underline!important;
}

#Footer .social {
  max-width: 165px;
}

#Footer .social li {
  float: left;
  display: block;
  padding: 0 0 5px 5px;
  padding-left: 5px!important;
}

#Footer .social li a {
  text-align: center;
  display: block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 14px;
  color: #236bad;
  background: #0c4751;
  border-radius: 3px;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

#Footer .social li a span {
  color: inherit;
}

#Footer .social li a:active,#Footer .social li a:focus,#Footer .social li a:hover {
  background: #fff;
}

#Footer .social li a svg {
  fill: #236bad;
}

#Footer .col-custom {
  padding: 15px;
}

#Footer .bg-primary-dark {
  margin-top: 40px;
}

#Footer .bg-primary-dark p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 15px;
  line-height: 25px;
  font-size: 14px;
  color: #f0f7ff;
}

#Footer .copyright-link {
  text-decoration: underline;
  color: #6eaae2;
}

@media only screen and (min-width:768px) {
  #Footer .col-custom.sm {
    float: left;
    width: 23%;
    padding-top: 30px;
    clear: none;
  }
}

@media only screen and (min-width:992px) {
  #Footer .col-custom {
    padding: 0;
  }

  #Footer .col-custom.md {
    float: left;
    width: 21%;
    clear: none;
  }

  #Footer .col-custom.md:first-child {
    padding-top: 0;
  }

  #Footer .col-custom.md:last-child {
    padding-top: 30px;
  }

  #Footer .col-custom.sm {
    width: 16.25%;
  }

  #Footer .col-custom:nth-child(2) {
    width: 14%;
  }

  #Footer .col-custom:nth-child(3) {
    width: 18%;
  }

  #Footer .col-custom:nth-child(4) {
    width: 14%;
  }
}

