<div *ngIf="loading">Sending...</div>
<div *ngIf="!loading">

  <main class='md-padding' layout="row" flex>
    <ux-ebox>
      <ux-ebox-header>
        <h3>Password Reset</h3>
      </ux-ebox-header>

      <ux-ebox-content *ngIf="!sentEmail">
        <form #resetForm="ngForm" (ngSubmit)="resetPassword()">
          <p>Please provide the email address</p>

          <input #email type="email" placeholder="Email" name="email"
                 required
                 [(ngModel)]="userDetails.email"
                 (keyup.enter)="resetPassword()"/>
          <br/>

          <p *ngIf="tryAgain">Email or Password was invalid. Please try again.</p>
          <br/>

          <button type="submit" class="btn" style="width: 200px" [disabled]="!resetForm.form.valid">
            Send Email
          </button>

          <button class="btn" type="button" style="width: 200px"
                  (click)='gotoRegister()'>
            Register
          </button>

        </form>
      </ux-ebox-content>
      <ux-ebox-content *ngIf="sentEmail">

        <p>You should get an email with further instructions.</p>
        <p>Please give it a few minutes to arrive and check your spam folder!</p>
        <button class="btn" type="button btn-primary" style="width: 200px"
                (click)='gotoHome()'>
          Go Back
        </button>

      </ux-ebox-content>
    </ux-ebox>
  </main>
</div>
