/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*
TODO: Bring this back in once the following defect is reported as fixed - https://github.com/valor-software/ngx-bootstrap/issues/2998
see similar workaround in index.html
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
 */
@import url('~@ux-aspects/ux-aspects/styles/ux-aspects.min.css');
@import "styletest.scss";
/*
@import url('~@micro-focus/quantum-ux-aspects');
body {
  padding: 2em 23em;
  background:lightgray;
}
*/
