<html>
<style type="text/css">
p#salutation {
	color: black;
	font-family: "Verdana", "sans-serif";
	font-size: 10pt;
	line-height: 12pt;
	margin: 5pt 0pt 10pt 0pt;
}

p {
	color: black;
	font-family: "Verdana", "sans-serif";
	font-size: 10pt;
	line-height: 12pt;
	margin: 5pt 0pt 5pt 0pt;
}

.para {
	color: black;
	font-family: "Verdana", "sans-serif";
	margin: 10pt 0pt 10pt 0pt;
}

.email {
	text-decoration: none !important;
	color: black;
}

.signature {
	color: black;
	font-family: "Verdana", "sans-serif";
	font-size: 10pt;
	font-style: bold;
	line-height: 12pt;
	margin: 0pt 0pt 40pt 0pt;
}

.footer {
	margin-bottom: 7.5pt;
	text-align: left;
	line-height: 13.5pt;
	font-size: 8.5pt;
	font-family: "Verdana", "sans-serif";
}
</style>


<body>
	<div>
		<p id="salutation">
			Dear <b>${user.firstName},</b>
		</p>
	</div>

	<div>
		<p class="para">
			We have successfully registered your email address <span
				style="text-decoration: none;"> <b>${user.email}</b>.
			</span>
		</p>

		<p class="para">
			Now, in order to verify your identity, please go to <b><a
				href="${webAddress}/registration/verification?email=${user.email}&id=${user.getVerificationCode()}">${webAddress}/registration/verification?email=${user.email}&id=${user.verificationCode}</a>.</b>
		</p>

		<p class="para">Once you've done this you'll be able to login and
			use our services.</p>

		<p class="para">
			If you have any issues please email our <b><a
				href="mailto:${supportEmail}">Support Team</a></b>.
		</p>
	</div>

	<div>
		<p class="para">
			<b>Best Regards,</b>
		</p>
		<p class="signature">Your ${company} ${product} Team.</p>

	</div>

</body>

</html>