<mat-form-field>
  <mat-select [value]="organisationId">
    <mat-option *ngFor="let organisation of organisations" [value]="organisation.id">
      {{organisation.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<a mat-button target="_blank" href="/organisation/{{organisation?.urlFragment}}">Open home page</a>
<mat-tab-group [(selectedIndex)]="selectedIndex">

  <mat-tab label="Organisation">
    <div class="inner">
      <app-manage-organisation class="inner" [organisationId]="organisationId" (done)="updateOrganisation($event)">
      </app-manage-organisation>
    </div>

  </mat-tab>
  <mat-tab label="Members">
    <div class="inner">
      <app-manage-memberships class="inner" [organisationId]="organisationId">
      </app-manage-memberships>
    </div>

  </mat-tab>
  <mat-tab label="Competitions">
    <div class="inner">
      <app-manage-competitions class="inner" [organisationId]="organisationId">
      </app-manage-competitions>
    </div>

  </mat-tab>
</mat-tab-group>


