<mat-form-field>
  <mat-select [value]="organisationId">
    <mat-option *ngFor="let organisation of organisations" [value]="organisation.id">
      {{organisation.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Organisation">
    <app-manage-organisation [organisationId]="organisationId">
    </app-manage-organisation>
  </mat-tab>
  <mat-tab label="Members">
    <app-manage-memberships [organisationId]="organisationId">
    </app-manage-memberships>
  </mat-tab>
  <mat-tab label="Competitions">
    <app-manage-competitions [organisationId]="organisationId">
    </app-manage-competitions>
  </mat-tab>
</mat-tab-group>


