<div *ngIf="loading">Logging in...</div>
<div *ngIf="!loading">

  <main class='md-padding' layout="row" flex>
    <ux-ebox>
      <ux-ebox-header>
        <h3>Login</h3>
      </ux-ebox-header>

      <ux-ebox-content>
        <form (ngSubmit)="doLogin()" #loginForm="ngForm">
          <p>Please provide your login credentials</p>

          <input #email type="email" placeholder="Email" name="email"
                 required
                 [(ngModel)]="userDetails.email"
                 (keyup.enter)="password.focus()"/><br/>
          <input #password type="password" placeholder="Password" name="password"
                 required
                 [(ngModel)]="userDetails.password"
                 (keyup.enter)="doLogin()"/><br/>

          <p *ngIf="tryAgain">Email or Password was invalid. Please try again.</p>
          <br/>
          <a (click)='gotoResetPassword(email.value)'>Forgotten your Password?</a><br/>

          <button type="submit" [disabled]="!loginForm.form.valid" class="btn" style="width: 200px">
            Login
          </button>

          <button class="btn" type="button" style="width: 200px"
                  (click)='gotoRegister()'>
            Register
          </button>
        </form>


      </ux-ebox-content>
    </ux-ebox>
  </main>
</div>

