<main class='md-padding' layout="row" flex>

  <div *ngIf="loading">Logging in...</div>
  <div *ngIf="!loading">

    <ux-ebox>
      <ux-ebox-header>
        <h3>Sign-In</h3>
      </ux-ebox-header>

      <ux-ebox-content>
        <form (ngSubmit)="doLogin()" #loginForm="ngForm">
          <p>Please provide your login credentials</p>

          <mat-form-field>
            <input matInput #email type="email" placeholder="Email" name="email"
                   required
                   [(ngModel)]="userDetails.email"
                   (keyup.enter)="password.focus()"/>
          </mat-form-field>

          <br/>

          <mat-form-field>
            <input matInput #password type="password" placeholder="Password" name="password"
                   required
                   [(ngModel)]="userDetails.password"
                   (keyup.enter)="doLogin()"/>
          </mat-form-field>

          <br/>

          <p *ngIf="tryAgain">Email or Password was invalid. Please try again.</p>

          <br/>

          <a (click)='gotoResetPassword(email.value)'>Forgotten your Password?</a><br/>

          <br/>

          <button mat-raised-button type="submit" [disabled]="!loginForm.form.valid">
            Sign-In
          </button>

          <button mat-raised-button type="button"
                  (click)='gotoRegister()'>
            Sign-Up
          </button>
        </form>
      </ux-ebox-content>
    </ux-ebox>
  </div>
  </main>

