<div *ngIf="loading">Logging in...</div>
<div *ngIf="!loading">

  <main class='md-padding' layout="row" flex>
    <ux-ebox>
      <ux-ebox-header>
        <h3>Login</h3>
      </ux-ebox-header>

      <ux-ebox-content>

        <p>Please provide your login credentials</p>

        <input #email type="email" placeholder="Email" (keyup.enter)="password.focus()"/><br/>
        <input #password type="password" placeholder="Password"
               (keyup.enter)="doLogin(email.value, password.value)"/><br/>

        <p *ngIf="tryAgain">Email or Password was invalid. Please try again.</p>
        <br/>

        <button class="btn" type="button btn-primary" style="width: 200px"
                (click)='doLogin(email.value, password.value)'>
          Login
        </button>

        <button class="btn" type="button btn-primary" style="width: 200px"
                (click)='gotoRegister()'>
          Register
        </button>

      </ux-ebox-content>
    </ux-ebox>
  </main>
</div>

