.event-card {
  display: inline-block;
  width: calc(33% - 20px);
  margin: 10px;
}

.event-card-stacked {
  display: inline-block;
  width: calc(100% - 20px);
  margin: 10px;
}

.empty {
  margin: 10px;
}
