<div class="panel panel-default">
  <div class="panel-heading">
    Responsible Disclosure Policy at Sporticus
  </div>

  <div class="panel-body">

      <h2>Responsible Security Disclosure Statement</h2>

      <p>
      At Sporticus, we take security seriously.
      </p>

      <p>If you think you have found a security issue we want to know!</p>

      <p>We’ll even reward you with a listing in our Hall of Thanks”</p>


      <h2>What You Should Do</h2>

      <p>Email us at <a href="mailto:sporticus.app@gmail.com">Sporticus</a></p>

      <h2>What We Ask</h2>

    <ul>
      <li>Provide us with enough detail (screenshots, walkthrough steps, etc.) to reproduce the issue.</li>

      <li>Give us time to fix the issue before riding through the streets at high noon announcing it to the world … or tweeting it to your 10,000 followers. Time needed varies based on the issue. For example, iOS release cycles are much longer than fixes on the web. But rest assured, once we know an issue exists, we are on the case.</li>

      <li>Don’t access/manipulate/delete data you don’t normally have access to. We’re very committed to our users’ data and experience and would hate to have an unintentional glitch in the system result in someone messing with our users’ accounts. Live by the Golden Rule: Don’t be a jerk. Seriously though, attempts like these will be reported.</li>

      <li>Don’t ask for payment; we do not offer cash payouts for disclosure.</li>
    </ul>

    <h2>What We Promise</h2>

    <ul>
      <li>We will reply to you within one business day to let you know we received and are evaluating your report.</li>

      <li>We will evaluate your report to see if it constitutes a true security issue.</li>

      <li>We will give you an estimate on how long it will take us to fix the issue.</li>

      <li>We will follow up with you once the fix is deployed.</li>

      <li>We will give you our thanks for practicing responsible security disclosure and making TeamSnap better.</li>

    </ul>

    <p>Whether an issue qualifies as a legitimate security problem is a decision our security and engineering teams will make.  Only the first security researcher to report an issue will qualify for credit.  We reserve the right to modify this program at any time.</p>

    <p>If you’ve played by the spirit and letter of this page, we pledge not to take legal action against you or to cancel your account(s). We don’t want to get the legal system involved, and neither do you.</p>

  </div>
</div>
