Events count {{eventsCount}}


<div>
  <br/><br/>
  <button type="button" class="btn button-primary" (click)="openEventModal()">
    <span class="hpe-icon hpe-notification" aria-hidden="true"></span>&nbsp;Create event
  </button>

  <button type="button" class="btn button-primary" (click)="openScheduleModal()">
    <span class="hpe-icon hpe-notification" aria-hidden="true"></span>&nbsp;Create Schedule
  </button>
</div>

<table class="table table-hover">
  <thead>
  <tr class="table-header-dark">
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events" uxHoverActionContainer>
    <td>{{ event.id }}</td>
    <td>{{ event.name }}</td>
    <td>
      <i class="hpe-icon hpe-vulnerability hover-action-icon" (click)="openAttendanceModal(event)"></i>
    </td>
  </tr>
  </tbody>
</table>
