<ngx-carousel [inputs]="carouselOne"
  (carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem class="bannerStyle">
    <div class="carousel">
      <div id="textPosition">
        <h1>
          Manage your sports
        </h1>
        <h2>
          <ul>
            Find local teams and clubs
          </ul>
          <ul>
            Organize matches and games
          </ul>
          <ul>
            Find new activities to get involved in
          </ul>
          <ul>
            Compete with others in competitions and ladders
          </ul>
        </h2>
      </div>
      <img style="width: 100%" src="/assets/images/runner.jpeg"/>
    </div>

  </ngx-item>
  <ngx-item NgxCarouselItem class="bannerStyle">
    <div class="carousel">
      <div id="textPosition">
        <h1>
          Manage your team
        </h1>
        <h2>
          <ul>
            Organize matches and games
          </ul>
          <ul>
            Manage team members & find new ones
          </ul>
          <ul>
            Compete with other teams in sport specific competitions
          </ul>
        </h2>
      </div>
      <img style="width: 100%" src="/assets/images/realFootball.jpg"/>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem class="bannerStyle">
    <div class="carousel">
      <img style="width: 100%" src="/assets/images/football.jpg"/>
    </div>
  </ngx-item>

  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
