<ngx-carousel [inputs]="carouselOne"
  (carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem class="bannerStyle">
    <div class="carousel">
      <img style="height: 900px" src="/assets/images/runner.jpeg"/>
    </div>

  </ngx-item>
  <ngx-item NgxCarouselItem class="bannerStyle">
    <div class="carousel">
      <img style="height: 900px" src="/assets/images/football.jpg"/>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem class="bannerStyle">
    <div class="carousel">
      <img style="height: 900px" src="/assets/images/runner.jpeg"/>
    </div>
  </ngx-item>

  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
