h1{
  min-height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}

carousel{
  min-height: 200px;
  align-content: center;
  align-items: center;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}
.leftRs {
  visibility: hidden;
}

.rightRs {
  visibility: hidden;
}
