
<div class="container">
  <div class="padding image-bg" id="domain-trial" >
    <div class="overlay-bg"></div>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="download-apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
            <h1>365 Day Free Trial!</h1>
            <p>Our new Silver package is ideal for smaller organisations</p>
            <p><a href="landing/register" class="btn btn-primary btn-animated">Start Your Free Trial</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding image-bg" id="price" >
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="text-center section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInDown;">
        <img class="img-responsive" src="assets/images/icons/t6.png" alt="">
        <h1>Pricing &amp; Plans</h1>
        <h2>Simple pricing for busy people</h2>
      </div>
      <div class="prices price-layout text-center ">
        <div class="row">
          <div class="col-sm-4">
            <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">

              <h1>SILVER PLAN</h1>

              <p><a style="color:#000000;font-size:30px;" href="https://domainmanage.uk/manage/signup.php">
                <b>£5</b></a> / <b>Month</b><br>
                <span style="font-size:11px;">(billed annually -365 day free trial)</span></p>


              <ul style="color:#111111;font-size:13px;font-weight:600;">
                <li><h2>Up To</h2></li>
                <li><h1>5</h1>Groups - Teams, Leagues etc</li>
                <li style="color:#ffffff;">X</li>
                <li><h2>YOU GET EVERYTHING!</h2></li>
                <li>Ad Free Landing Page</li>
                <li>Buyer E-mail Automatic Verification</li>
                <li>Create <a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Buy Now</a> Pages</li>
                <li><a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Lead Generation Form Creator</a></li>
                <li>Get Complete Stats: Unique Hits, Views &amp; Offers</li>
                <li>Embed Your Affiliate Code Into Landing Pages</li>
                <li>Create Affiliate Link Redirects</li>
                <!-- <li>Infinite Data Retention</li> -->
                <li>Configure Robots 'Index or NoIndex' Options</li>
                <li>Configure Title &amp; Description Meta Tags</li>
                <li>E-mail &amp; Skype Support</li>
              </ul>
              <a href="landing/register?p=bronze" class="btn btn-primary btn-animated">365 Day Free Trial</a>

            </div>
          </div>
          <!-- start gold -->
          <div class="col-sm-4">
            <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <h1>GOLD<br>PLAN</h1>
              <p><a style="color:#000000;font-size:30px;" href="https://domainmanage.uk/manage/signup.php">
                <b>£10</b></a> / <b>Month</b><br>
                <span style="font-size:11px;">(billed annually)</span></p>

              <ul style="color:#111111;font-size:13px;font-weight:600;">
                <li><h2>Up To</h2></li>
                <li><h1>15</h1>Groups - Teams, leagues, Ladders etc</li>
                <li style="color:#ffffff;">X</li>
                <li><h2>YOU GET EVERYTHING!</h2></li>
                <li>Ad Free Landing Page</li>
                <li>Buyer E-mail Automatic Verification</li>
                <li>Create <a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Buy Now</a> Pages</li>
                <li><a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Lead Generation Form Creator</a></li>

                <li>Get Complete Stats: Unique Hits, Views &amp; Offers</li>
                <li>Embed Your Affiliate Code Into Landing Pages</li>
                <li>Create Affiliate Link Redirects</li>
                <!-- <li>Infinite Data Retention</li> -->
                <li>Configure Robots 'Index or NoIndex' Options</li>
                <li>Configure Title &amp; Description Meta Tags</li>
                <li>E-mail &amp; Skype Support</li>
              </ul>
              <a href="landing/register?p=bronze" class="btn btn-primary btn-animated">365 Day Free Trial</a>

            </div>
          </div>

          <!-- end gold -->
          <!-- start gold -->
          <div class="col-sm-4">
            <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
              <h1>DIAMOND<br>PLAN</h1>
              <p><a style="color:#000000;font-size:30px;" href="https://domainmanage.uk/manage/signup.php">
                <b>£15</b></a> / <b>Month</b><br>
                <span style="font-size:11px;">(billed annually)</span></p>

              <ul style="color:#111111;font-size:13px;font-weight:600;">
                <li><h2>Up To</h2></li>
                <li><h1>30</h1>Groups - Teams, leagues, Ladders etc</li>
                <li style="color:#ffffff;">X</li>
                <li><h2>YOU GET EVERYTHING!</h2></li>
                <li>Ad Free Landing Page</li>
                <li>Buyer E-mail Automatic Verification</li>
                <li>Create <a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Buy Now</a> Pages</li>
                <li><a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Lead Generation Form Creator</a></li>
                <li>Get Complete Stats: Unique Hits, Views &amp; Offers</li>
                <li>Embed Your Affiliate Code Into Landing Pages</li>
                <li>Create Affiliate Link Redirects</li>
                <!-- <li>Infinite Data Retention</li> -->
                <li>Configure Robots 'Index or NoIndex' Options</li>
                <li>Configure Title &amp; Description Meta Tags</li>
                <li>E-mail &amp; Skype Support</li>
              </ul>
              <a href="landing/register?p=diamond" class="btn btn-primary btn-animated">365 Day Free Trial</a>
            </div>
          </div>
          <!-- end gold -->
        </div>
      </div>
      <!--/price-->
    </div>
  </div>
</div>
