<main class='md-padding' layout="row" flex>
  <ux-ebox>
    <ux-ebox-header>
      <h3>Development Team</h3>
    </ux-ebox-header>

    <ux-ebox-content>
      <h1>What is Sporticus <small>A social sports portal</small></h1>
      <p>
        Sporticus is an open source showcase for Angular and Spring technologies.
      </p>
      <p>
        It was developed and is being maintained by a group of experienced developers with a desire to showcase their own skills.
      </p>

      <h1>The Team <small>Developers working on the project</small></h1>

      <ul>
        <li>
          <p>Bob Tarling</p>
        </li>
        <li>
          <p>James Nurse</p>
        </li>
        <li>
          <p>Mark Howell</p>
        </li>
        <li>
          <p>Thomas Hardwick</p>
        </li>
      </ul>
    </ux-ebox-content>
  </ux-ebox>
</main>
