<!-- The body of the main users view -->
<ux-dashboard class="customizable-dashboard" [options]="options">

  <ux-dashboard-widget id="agenda-widget" colSpan="2" rowSpan="2" resizable=true>
    <div class="widget-content">
      <app-agenda>
        <span ux-dashboard-widget-drag-handle widget-title>
            <i class="hpe-icon hpe-drag"></i>
          Your Agenda
        </span>
      </app-agenda>
    </div>
  </ux-dashboard-widget>

  <ux-dashboard-widget id="my-ladder-widget" colSpan="2" rowSpan="2" resizable=true>
    <div class="widget-content">
      <app-my-ladders-widget>
        <span ux-dashboard-widget-drag-handle widget-title>
          <i class="hpe-icon hpe-drag"></i>
          Your Ladders
        </span>
      </app-my-ladders-widget>
    </div>
  </ux-dashboard-widget>
</ux-dashboard>

<app-notification-list></app-notification-list>



