<br/>

<div class="user__list" *ngIf="!ladderUsers.length">
  <p>The ladder is currently empty</p>
</div>

<div class="user__list" *ngIf="ladderUsers.length">
  <table class="table table-hover">
    <thead>
    <tr class="table-header-dark">
      <th>Position</th>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="hover-action-container" *ngFor="let rung of ladderUsers" [attr.cdk-focus-initial]="isMe(rung) ? '' : null" uxHoverActionContainer>
      <td class="text-black">{{ rung.position+1 | appendOrdinal }}</td>
      <td class="text-black">{{ rung.userName }}</td>
      <td>
        <i *ngIf="rung.isChallenged" class="hpe-icon hpe-vulnerability hover-action-icon" [matMenuTriggerFor]="dayMenu" [matTooltip]="getTooltip(rung)"></i>
        <i *ngIf="rung.isChallenger" class="hpe-icon hpe-alarm hover-action-icon" (click)="editChallenge(rung)" [matTooltip]="getTooltip(rung)"></i>
        <i *ngIf="rung.canChallenge"  class="hpe-icon hpe-target hover-action-icon" (click)="createChallenge(rung)" [matTooltip]="getTooltip(rung)" uxHoverAction></i>
      </td>
      <mat-menu #dayMenu>
        <button mat-menu-item (click)="editChallenge(rung)">
          <span>Amend Challenge</span>
        </button>
        <button mat-menu-item (click)="cancelChallenge(rung)">
          <span>Cancel Challenge</span>
        </button>
      </mat-menu>
    </tr>
    </tbody>
  </table>
</div>
