<div class="marquee-modal-window">
  <div class="side-panel">
    <div class="marquee-logo">
      <i class="hpe-icon hpe-home hpe-5x text-secondary" aria-hidden="true"></i>
      <!-- <div class="person-icon" ></div> -->
    </div>

    <div class="marquee-info-panel">
      <h3 class="title">Organisation Details</h3>
      <p class="description">{{organisationCreationDescription}}</p>
    </div>
  </div>


  <div class="main-panel">

  <div class="marquee-header">
    <h1 class="marquee-title">Organisation</h1>
  </div>

  <div class="marquee-body case-modal">
    <div class="row">
      <div class="col-sm-9">

        <form #organisationForm="ngForm" (ngSubmit)="makeOrganisationChange()">

          <div class="form-group">
            <label class="form-label case-label">Name *</label>
            <input
              type="text" placeholder="Enter name" class="form-control" name="name"
              [(ngModel)]="organisationDetails.name"/>
          </div>

          <div class="form-group">
            <label class="form-label case-label">Address</label>
            <input type="text" placeholder="Enter Address" class="form-control" name="address"
                   [(ngModel)]="organisationDetails.address"/>
          </div>

          <div class="form-group">
            <label class="form-label case-label">Domain</label>
            <input type="text" placeholder="Enter Domain" class="form-control" name="domain"
                   [(ngModel)]="organisationDetails.domain"/>
          </div>

          <div class="form-group">
            <label class="form-label case-label">Postcode</label>
            <input type="text" placeholder="Enter Postcode" class="form-control" name="postcode"
                   [(ngModel)]="organisationDetails.postcode"/>
          </div>


          The url fragment is a unique string for the group. If set, it generates a unique page from which users can request to join and details about the organisation can be displayed.

          <div class="form-group">
            <label class="form-label case-label">Url Fragment</label>
            <input type="text" placeholder="Enter Url Fragment" class="form-control" name="urlFragment"
                   [(ngModel)]="organisationDetails.urlFragment"/>
          </div>

          <div class="marquee-footer">
            <button type="button" style="width: 80px" class="btn button-primary m-r-xs" type="submit">{{submitText}}</button>
            <button type="button" style="width: 80px;" class="btn button-secondary" (click)="cancel()">Cancel</button>
          </div>

        </form>

      </div>
    </div>
  </div>



</div>
</div>
