
<main class='md-padding' layout="row" flex>
  <div *ngIf="loading">Registering...</div>
  <div *ngIf="!loading">

  <ux-ebox>
    <ux-ebox-header>
      <h3>Registration</h3>
    </ux-ebox-header>

    <ux-ebox-content>
      <form (ngSubmit)="doRegister()" #registerForm="ngForm">
        Create a new user<br/><br/>

        <mat-form-field>
          <input matInput #userName placeholder="Username" name="userName"
               [(ngModel)]="registrationDetails.userName"/>
        </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput #name placeholder="First Name" name="firstName"
                   [(ngModel)]="registrationDetails.firstName"/>
          </mat-form-field>
        <mat-form-field>
        <input matInput #name placeholder="Surname" name="surname"
               [(ngModel)]="registrationDetails.surname"/>
        </mat-form-field>
          <br/>
        <mat-form-field>
          <input matInput #email type="email" placeholder="Email" name="email"
                 ngModel email="true"
                 required
                 [(ngModel)]="registrationDetails.email"/>
        </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput #password type="password" placeholder="Password" name="password"
                   required
                   [(ngModel)]="registrationDetails.password"/>
          </mat-form-field>
          <br/>
          <button mat-raised-button>
              Register
          </button>
      </form>
    </ux-ebox-content>

  </ux-ebox>
  </div>
</main>



<!--
<ux-wizard [orientation]="orientation">

  <ux-wizard-step header="1. Add Contact Information">
    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Surname">
    </mat-form-field>

    <br/>

    <mat-form-field>
      <textarea matInput placeholder="Address"></textarea>
    </mat-form-field>

  </ux-wizard-step>

  <ux-wizard-step header="2. Express interest in a sport">
    <p>Content of step 2.</p>
  </ux-wizard-step>

  <ux-wizard-step header="3. Request membership in a club ">
    <p>Content of step 3.</p>
  </ux-wizard-step>

  <ux-wizard-step header="4. Add password">
    <p>Content of step 4.</p>

    By creating an account you agree to our Terms & Privacy.
  </ux-wizard-step>

</ux-wizard>
-->

