Registration


Create a new user


<ux-wizard [orientation]="orientation">

  <ux-wizard-step header="1. Add Contact Information">
    <p>Content of step 1.</p>
  </ux-wizard-step>

  <ux-wizard-step header="2. Join a club">
    <p>Content of step 2.</p>
  </ux-wizard-step>

  <ux-wizard-step header="3. Add ">
    <p>Content of step 3.</p>
  </ux-wizard-step>

  <ux-wizard-step header="4. Add password">
    <p>Content of step 4.</p>

    By creating an account you agree to our Terms & Privacy.
  </ux-wizard-step>

</ux-wizard>
