
<main class='md-padding' layout="row" flex>
  <div *ngIf="loading">Registering...</div>
  <div *ngIf="!loading">

  <ux-ebox>
    <ux-ebox-header>
      <h3>Sign-Up</h3>
    </ux-ebox-header>

    <ux-ebox-content>
      <form (ngSubmit)="doRegister()" #registerForm="ngForm">
        Please provide your details below<br/><br/>

        <mat-form-field>
            <input matInput #name placeholder="First Name" name="firstName"
                   [(ngModel)]="registrationDetails.firstName"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput #name placeholder="Last Name" name="lastName"
                 [(ngModel)]="registrationDetails.lastName" autocomplete="off"/>
        </mat-form-field>
          <br/>
        <mat-form-field>
          <input matInput #email type="email" placeholder="Email" name="email"
                 ngModel email="true"
                 required
                 [(ngModel)]="registrationDetails.email" autocomplete="off"/>
        </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput #password type="password" placeholder="Password" name="password"
                   required
                   [(ngModel)]="registrationDetails.password"/>
          </mat-form-field>
          <br/>
          <button mat-raised-button type="submit">
              Register
          </button>
          <button mat-raised-button type="button" (click)="cancelRegister()">
            Cancel
          </button>
      </form>
    </ux-ebox-content>
  </ux-ebox>
  </div>
</main>
