<mat-form-field>
  <mat-select [value]="groupId" (change)="onGroupSelect($event)">
    <mat-option *ngFor="let group of groups" [value]="group.id">
      {{group.name}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-tab-group>

  <mat-tab label="Details">
    <div class="inner">
      <app-manage-group-details class="inner" [group]="selectedGroup">
      </app-manage-group-details>
    </div>

  </mat-tab>
  <mat-tab label="Members">
    <div class="inner">
      <app-manage-group-members class="inner" [group]="selectedGroup">
      </app-manage-group-members>
    </div>

  </mat-tab>
  <mat-tab label="Events">
    <div class="inner">
      <app-manage-group-events class="inner" [group]="selectedGroup">
      </app-manage-group-events>
    </div>
  </mat-tab>

</mat-tab-group>
