<h2>Add Group Members</h2>

<div *ngIf="!orgMembers.length">
  <p>All Organisation Members are already in this group</p>
</div>


<div class="user-list" *ngIf="orgMembers.length">
  <table class="table table-hover">
    <thead>
    <tr class="table-header-dark">
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="user-list-body">
    <tr class="hover-action-container" *ngFor="let item of currentPage" uxHoverActionContainer>
      <td>{{ item.firstName }}</td>
      <td>{{ item.lastName }}</td>
      <td>
        <i class="hpe-icon hpe-add" (click)="addToGroup(item)" tooltip="Add User"
           uxHoverAction></i>
      </td>
    </tr>
    </tbody>
  </table>
  <button [disabled]="firstPage ? '' : null" class="btn button-primary" (click)="showPreviousPage()">
    <span class="hpe-icon hpe-deployment" aria-hidden="true"></span> Prev
  </button>
  <button [disabled]="lastPage ? '' : null" class="btn button-primary" (click)="showNextPage()">
    <span class="hpe-icon hpe-deployment" aria-hidden="true"></span> Next
  </button>
</div>
