<div id="whats-special" class="padding image-bg">
  <div class="overlay-bg"></div>
  <div class="container">
    <div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">
      <img class="img-responsive" src="assets/images/icons/t1.png" alt="">
      <h1>Manage, Market &amp; Monetize Your Organisation</h1>
    </div>
    <div class="special-features">
      <div class="row">
        <div class="col-sm-3">
          <div class="special-content text-right wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInDown;">
            <h2>Manage your Organisation</h2>
            <p>Form a single place you can manage all of your teams. No more email chaos</p>
          </div>
          <div class="special-content text-right wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <h2>Look Professional</h2>
            <p>Give end users confidence in you, with a clean and credible looking club page</p>
          </div>
          <div class="special-content text-right wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <h2>Team Activity Reports and Stats</h2>
            <p>View your monthly unique visits, hits and offers on each and every user or team in your account</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="special-image wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.7s; animation-name: slideInUp;">
            <img class="img-responsive" style="margin: 100px 0px 0px 0px;" src="assets/images/balls.png" alt="">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="special-content text-left wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInDown;">
            <h2>First Year Free</h2>
            <p>Register today and your first year of usage is totally free</p>
          </div>
          <div class="special-content text-left wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <h2>Any Organisation Size</h2>
            <p>Ideal for both small and large organisations - from 1 to 100 teams!</p>
          </div>
          <div class="special-content text-left wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
            <h2>Start Right Away</h2>
            <p>No technical setup required! Just register and start managing your organisation today!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="padding" id="features" >
      <div class="container">
        <div class="row">
          <div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInUp;">
            <img class="img-responsive" src="assets/images/icons/t4.png" alt="Some Of The Features Of Sporticus">
            <h1>Take Control Of Your Organisation</h1>
          </div>
        </div>
        <div class="all-features text-center">
          <div class="row">
            <div class="col-sm-3">
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: fadeInDown;">
                <i class="fa fa-tachometer fa-4x" aria-hidden="true"></i>
                <h2>Professional Organisation Page</h2>
                <p>Desktop, tablet and mobile optimised Organisation (Team, Club) Landing page</p>
              </div>
              <div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true"></i>
                <h2>Instant E-mail Verification</h2>
                <p>All member e-mail details are verified with just one click</p>
              </div>
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInDown;">
                <i class="fa fa-hand-pointer-o fa-4x" aria-hidden="true"></i>
                <h2>Automated Event Scheduling</h2>
                <p>Maintenance of organisation and member calendars for event scheduling</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInDown;">
                <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                <h2>Visitor and Member Statistics</h2>
                <p>Monthly unique visitors, total member visits and activity reports</p>
              </div>
              <div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
                <i class="fa fa-money fa-4x" aria-hidden="true"></i>
                <h2>Easy Monetization</h2>
                <p>Embed affiliate code</p>
              </div>
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInDown;">
                <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
                <h2>Add 'Buy Now' Buttons</h2>
                <p>Add PayPal 'Buy Now' buttons to your organisation landing pages to allow sale of club/team merchandise</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeInDown;">
                <i class="fa fa-desktop fa-4x" aria-hidden="true"></i>
                <h2>Automated Notifications</h2>
                <p>Automated in-application notifications or email notifications for all activites</p>
              </div>
              <div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <i class="fa fa-picture-o fa-4x" aria-hidden="true"></i>
                <h2>Organisation specific email addresses</h2>
                <p>Scalable number of organisation email accounts</p>
              </div>
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.3s; animation-name: fadeInDown;">
                <i class="fa fa-trash fa-4x" aria-hidden="true"></i>
                <h2>Attendance Recording</h2>
                <p>Setup manual or automated attendance recording</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInDown;">
                <i class="fa fa-volume-control-phone fa-4x" aria-hidden="true"></i>
                <h2>Targeted Marketing</h2>
                <p>Send out targeted organisation event details to encourage new members</p>
              </div>
              <div class="feature wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.6s; animation-name: fadeInUp;">
                <i class="fa fa-shield fa-4x" aria-hidden="true"></i>
                <h2>Fast &amp; Easy To Use</h2>
                <p>Just upload your organisation details and your good to go</p>
              </div>
              <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.2s; animation-name: fadeInDown;">
                <i class="fa fa-android fa-4x" aria-hidden="true"></i>
                <h2>Robots Index or NoIndex</h2>
                <p>Decide if you want your pages indexed in SERPS o rnot</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div >
    <div class="padding image-bg" id="domain-trial" >
      <div class="overlay-bg"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="download-apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.4s; animation-name: fadeInUp;">
              <h1>365 Day Free Trial!</h1>
              <p>Our new Silver package is ideal for smaller organisations</p>
              <p><a href="landing/register" class="btn btn-primary btn-animated">Start Your Free Trial</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding image-bg" id="price" >
      <div class="overlay-bg"></div>
      <div class="container">
        <div class="text-center section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.1s; animation-name: fadeInDown;">
          <img class="img-responsive" src="assets/images/icons/t6.png" alt="">
          <h1>Pricing &amp; Plans</h1>
          <h2>Simple pricing for busy people</h2>
        </div>
        <div class="prices text-center ">
          <div class="row">
            <div class="col-sm-4">
              <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">

                <h1>SILVER PLAN</h1>

                <p><a style="color:#000000;font-size:30px;" href="https://domainmanage.uk/manage/signup.php">
                  <b>£5</b></a> / <b>Month</b><br>
                  <span style="font-size:11px;">(billed annually -365 day free trial)</span></p>


                <ul style="color:#111111;font-size:13px;font-weight:600;">
                  <li><h2>Up To</h2></li>
                  <li><h1>5</h1>Groups - Teams, Leagues etc</li>
                  <li style="color:#ffffff;">X</li>
                  <li><h2>YOU GET EVERYTHING!</h2></li>
                  <li>Ad Free Landing Page</li>
                  <li>Buyer E-mail Automatic Verification</li>
                  <li>Create <a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Buy Now</a> Pages</li>
                  <li><a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Lead Generation Form Creator</a></li>
                  <li>Get Complete Stats: Unique Hits, Views &amp; Offers</li>
                  <li>Embed Your Affiliate Code Into Landing Pages</li>
                  <li>Create Affiliate Link Redirects</li>
                  <!-- <li>Infinite Data Retention</li> -->
                  <li>Configure Robots 'Index or NoIndex' Options</li>
                  <li>Configure Title &amp; Description Meta Tags</li>
                  <li>E-mail &amp; Skype Support</li>
                </ul>
                <a href="landing/register?p=bronze" class="btn btn-primary btn-animated">365 Day Free Trial</a>

              </div>
            </div>
            <!-- start gold -->
            <div class="col-sm-4">
              <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <h1>GOLD<br>PLAN</h1>
                <p><a style="color:#000000;font-size:30px;" href="https://domainmanage.uk/manage/signup.php">
                  <b>£10</b></a> / <b>Month</b><br>
                  <span style="font-size:11px;">(billed annually)</span></p>

                <ul style="color:#111111;font-size:13px;font-weight:600;">
                  <li><h2>Up To</h2></li>
                  <li><h1>15</h1>Groups - Teams, leagues, Ladders etc</li>
                  <li style="color:#ffffff;">X</li>
                  <li><h2>YOU GET EVERYTHING!</h2></li>
                  <li>Ad Free Landing Page</li>
                  <li>Buyer E-mail Automatic Verification</li>
                  <li>Create <a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Buy Now</a> Pages</li>
                  <li><a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Lead Generation Form Creator</a></li>

                  <li>Get Complete Stats: Unique Hits, Views &amp; Offers</li>
                  <li>Embed Your Affiliate Code Into Landing Pages</li>
                  <li>Create Affiliate Link Redirects</li>
                  <!-- <li>Infinite Data Retention</li> -->
                  <li>Configure Robots 'Index or NoIndex' Options</li>
                  <li>Configure Title &amp; Description Meta Tags</li>
                  <li>E-mail &amp; Skype Support</li>
                </ul>
                <a href="landing/register?p=bronze" class="btn btn-primary btn-animated">365 Day Free Trial</a>

              </div>
            </div>

            <!-- end gold -->
            <!-- start gold -->
            <div class="col-sm-4">
              <div class="price wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <h1>DIAMOND<br>PLAN</h1>
                <p><a style="color:#000000;font-size:30px;" href="https://domainmanage.uk/manage/signup.php">
                  <b>£15</b></a> / <b>Month</b><br>
                  <span style="font-size:11px;">(billed annually)</span></p>

                <ul style="color:#111111;font-size:13px;font-weight:600;">
                  <li><h2>Up To</h2></li>
                  <li><h1>30</h1>Groups - Teams, leagues, Ladders etc</li>
                  <li style="color:#ffffff;">X</li>
                  <li><h2>YOU GET EVERYTHING!</h2></li>
                  <li>Ad Free Landing Page</li>
                  <li>Buyer E-mail Automatic Verification</li>
                  <li>Create <a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Buy Now</a> Pages</li>
                  <li><a style="color:#444444;text-decoration:underline;" href="#" target="_blank">Lead Generation Form Creator</a></li>
                  <li>Get Complete Stats: Unique Hits, Views &amp; Offers</li>
                  <li>Embed Your Affiliate Code Into Landing Pages</li>
                  <li>Create Affiliate Link Redirects</li>
                  <!-- <li>Infinite Data Retention</li> -->
                  <li>Configure Robots 'Index or NoIndex' Options</li>
                  <li>Configure Title &amp; Description Meta Tags</li>
                  <li>E-mail &amp; Skype Support</li>
                </ul>
                <a href="landing/register?p=diamond" class="btn btn-primary btn-animated">365 Day Free Trial</a>
              </div>
            </div>
            <!-- end gold -->
          </div>
        </div>
        <!--/price-->
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

  </div>
</div>
